body{
    background-color: beige;
}
#div1{
    margin: 20px;
    background-color: blanchedalmond;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    border-radius: 20px;
    border: 3px solid goldenrod;
}
#headi {
    border-left: 5px solid firebrick;
    text-align: justify;
}
#div2 #nav1{
    border-radius: 20px;
    margin: 20px;
    border: 2px solid slategrey;
    background-color: chocolate;
}
#ol1{
    list-style: none;
    overflow: auto;
}
.navlink{
    padding: 9px;
    font-family: Arial;
    color: rgb(156, 22, 156);
    border-radius: 4px;
    font-size: large;
    background-color: bisque;
    border: 2px solid goldenrod;
}
.li1 .navlink{
    float: left;
    text-decoration: none;
    display: flex;
    margin: 5px;
}
.li1 .navlink:hover{
    transform: scale(1.1);
    background-color: rgb(136, 95, 18);
    color: snow;
    border: 2px solid gold;
}